<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--DB접속정보-->
	<appSettings>
		<add key="DEFAULT" value="DEV"/>
		<add key="ENCRYPT" value="N"/>		
		<add key="APP_PATH" value="..\bin\"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>		
	</appSettings>
	<connectionStrings>	
		<add name="DEV" providerName="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL=TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA=(SERVICE_NAME = kotlin))); User Id=dbmgr; Password=1"/>	
	</connectionStrings>
</configuration>